

// rwd 手機 576 斷點(暫定)
@mixin mobile() {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin navbar_rwd(){
    @media screen and (max-width: 800px) {
        @content;
    }
}

// 按鈕
@mixin btn($bgc, $color, $border: null) {
    color: $color;
    background-color: $bgc;
    padding: 16px 24px;
    width: fit-content;
    min-width: 180px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s ease;
}


// display:flex/align-items-center

@mixin flex-center {
    
    display: flex;
    align-items: center;
}