header{
    display: flex;
    width: 100%;
    background-color: black;
    height: 72px;
    /* position: absolute; */
    padding: 0px 40px;
    justify-content:space-between

 }
 ul{
    list-style: none;
    display: flex;
 }
 nav{
    display: flex;
    align-items: center;
 }
.menu{
    display: flex;
    padding: 0;
    gap: 32px;
 }
 .line{
    width: 1px;
    height: 21px;
    background: white;
    margin: 0 36px;
 }
 .shopping_cart{
    margin-right: 36px;
 }
 .hamburger_box{
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
 }