
// alert_L

.swal2-container{
  background: rgba(35, 37, 41, 0.50) !important;
}

.my-swal-L{
    @include flex-center;
    width: 71.125rem;
    padding: 2.5rem 1.5rem;
    gap: 2.5rem;    
    flex-direction: column;
    border-radius: 20px;
    @include mobile(){
      gap: 20px;
    }
  }
  .my-swal-L > .swal2-title {
    order: 1; /* 將標題調整為第一個 */
    font-size: unset;
    padding: 0;
    color: $neutral-700;
  }
  .my-swal-L > .swal2-html-container > .content {
    @include flex-center;
    flex-direction: column;
    gap: 2.5rem;
    max-height: 350px;
    max-width: 1090px;
    
  }

  //自定義 scrollbar
  
  .my-swal-L > .swal2-html-container::-webkit-scrollbar{
    width: 10px;
  }

  .my-swal-L > .swal2-html-container::-webkit-scrollbar-thumb{
    background: $neutral-400; 
    border-radius: 100px;
  }

  .my-swal-L > .swal2-html-container > .content > .row_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 1145px) {
      align-items: center;
      flex-direction: column;
    }
  }

  .my-swal-L > .swal2-html-container > .content > .row_box > .image{
    width: 335px;
    height: 273px;
    border-radius: 12px;
    background:  #CCD1D5;
    @include mobile(){
      width: 100%;
      height: 100%;
    }
  } 

  .my-swal-L > .swal2-html-container > .content > .row_box > .image > img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: block;
  } 

  .my-swal-L > .swal2-html-container > .content > .row_box > .text_box{
    width: 715px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1145px) {
      margin: 2.5rem 0;
      width: 100%;
      text-align: center;
    }
  } 
  .my-swal-L > .swal2-html-container > .content > .row_box > .text_box >.title2{
    color: $neutral-700;  
    @media screen and (max-width: 1145px) {
      margin: 10px 0;
    }
  }

  .my-swal-L > .swal2-html-container > .content > .row_box > .text_box >.body{
    min-height: 216px;
    @media screen and (max-width: 1145px) {
      min-height: 0;
    }
  }


  .my-swal-L .swal2-html-container {
    order: 2; /* 將 中間內容 調整為第二個 */
    padding: 0;
  }

  .my-swal-L >.swal2-actions {
    order: 3; /* 將 按鈕外部容器 調整為第三個 */
    margin: 0;
    display: flex;
    gap: 8px;

  }
  .my-swal-L > .swal2-actions > .swal2-confirm{    
    order: 2; /* 將 關閉按鈕 調整為第一個 */
    margin: 0;
  }
  .my-swal-L > .swal2-actions > .swal2-cancel{
    order: 1; /* 將 另個按鈕 調整為第二個 */
    margin: 0;
  }





  