.btn_filled {
    @include btn($primary-400, $neutral-0);
       
    &:hover{
        background: lighten($primary-400, 10%);
    }
    &:active {
        background: darken($primary-400, 10%);
    }

    @include mobile(){
        min-width: 136px;
    }
}

.btn_outline {
    @include btn(transparent, $primary-400);
    border: 1px solid $primary-400;

    &:hover{
        background-color: #f6e9fe;
    }
    &:active {
        background-color: darken(#f6e9fe, 10%);
        border-color: darken($primary-400, 10%);
    }

    @include mobile(){
        min-width: 136px;
    }
}

.btn_white {
    @include btn($neutral-0, $primary-400);

    &:hover{
        background-color: #f6e9fe;
    }
    &:active {
        background-color: darken(#f6e9fe, 10%);
        color: darken($primary-400, 10%);
    }
    
    @include mobile(){
        min-width: 136px;
    }
    
}

.btn_filled, .btn_white, .btn_outline {
    &.small {
        padding: 12px 20px;
        min-width: 100px;
        font-size: 16px;
        line-height: 24px;

        @include mobile(){
            min-width: 80px;
        }
    }
}
